
/* Your CSS Code here. */
#holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
}
.item {
      width: 100px; 
      height: 100px; 
      background-color: #ddd; 
      margin: 10px; 
    }